body { 
	padding-top: 70px; 
}
.paper {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
	border-radius: 5px;
	padding: 0.5em 1em;
}
body {
	font-family: 'Open Sans', Verdana, Helvetica, Arial, sans-serif;
}
.offer {
	background-color: #fff;
	margin-bottom: 20px;
}

p {
	padding-top: 20px;
}

footer {
	background-color: black;
	height: 80px;
	border-top: solid 1px #eee;
}

.footer p {
	margin-top: 15px;
}

.challenge {
	color: #C733C9;
}

ul {
	list-style: none;
}